# Listas

In [2]:
lista_1 = []   # Lista vacia

In [ ]:
lista_2 = ["a","e","i","o","u"]   # Lista con valores iniciales

In [4]:
lista_3 = [1,3,4,5,6,7,5]        # Lista con valores enteros

In [5]:
lista_3[1:4]

[3, 4, 5]

In [6]:
lista_3[1] = 2

In [7]:
lista_3

[1, 2, 4, 5, 6, 7, 5]

In [8]:
L = [1,2,3,4,5,6,7,8,9]

In [9]:
L.remove(8)

In [10]:
L

[1, 2, 3, 4, 5, 6, 7, 9]

In [11]:
L.insert(10,7)

In [12]:
L

[1, 2, 3, 4, 5, 6, 7, 9, 7]

In [13]:
L.insert(1,1)

In [14]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 9, 7]

In [15]:
L.count(1)

2

In [19]:
L.remove[3]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [21]:
L.extend("a")

In [22]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 9, 7, 'a']

In [23]:
L.append(8)

In [24]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 9, 7, 'a', 8]

In [26]:
L.sort

In [27]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 7, 9, 'a', 8]

In [29]:
sort(L)

NameError: name 'sort' is not defined

In [30]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 7, 9, 'a', 8]

In [31]:
L.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
L.remove("a")

In [33]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 7, 9, 8]

In [34]:
L.sort()

In [35]:
L

[1, 1, 2, 3, 4, 5, 6, 7, 7, 8, 9]

In [36]:
L.sort(reverse = True)

In [37]:
L

[9, 8, 7, 7, 6, 5, 4, 3, 2, 1, 1]

# BUCLES

In [1]:
Notas = [1.5,3,8,5,6,4,2.5]

In [3]:
suma = 0
for i in Notas:
    suma += i
print(suma / len(Notas))

4.285714285714286

# Criba de erastÃ³tenes

In [1]:
lista = []

for i in range(2,121):
    lista.append(i)
    if i %2 == 0:
        lista.remove(i)

print(lista)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119]

In [4]:

lista = []



for i in range(2,21):
    lista.append(i)

numeros_primos = []    

for i in lista:
    
    if i > 2 and i %2 == 0 :
        lista.remove(i)
        


for i in range(len(lista)):
    if lista[i] ** 2 < 20:
        numeros_primos.append(lista[i])
                   
print(numeros_primos)

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[2, 3]

5
9
13
17

In [31]:
2 ** 2

4

In [32]:
3 ** 2

9

# Tuplas

In [5]:
tupla = (1,2,3,4,5)

In [6]:
tupla[0]

1

In [7]:
a,b,c,d,e = tupla

In [8]:
a

1

In [9]:
b

2

In [10]:
c

3

In [11]:
d

4

In [12]:
e

5

In [21]:
lista_numeros = []
for i in range(1,11):
    lista_numeros.append(i)

In [22]:
lista_numeros.append(i)

In [23]:
print(lista_numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [26]:
lista_n = "1 2 3 4 5 6 7 8 9 10".split()

In [27]:
lista_n = tuple(lista_n)

In [28]:
print(lista_n)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [29]:
secuencia = "1 2 3 4 5 6 7 8 9 10"

In [30]:
secuencia.split()

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [31]:
secuencia = tuple(secuencia)

In [32]:
print(secuencia)

('1', ' ', '2', ' ', '3', ' ', '4', ' ', '5', ' ', '6', ' ', '7', ' ', '8', ' ', '9', ' ', '1', '0')

In [45]:
sec = "12345678910"

In [46]:
sec.split(" ")

['12345678910']

In [47]:
sec = tuple(sec)

In [48]:
print(sec)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '0')

In [49]:
secu = "1 2 3 4 5 6 7 8 9 10".split()

In [50]:
print(secu)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [51]:
secu = tuple(secu)

In [52]:
print(secu)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [58]:
secuencia_comas = "1,2,3,4,5,6,7,8,9,10"

In [60]:
secuencia_comas.split(",")

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [62]:
secuencia_comas = tuple(secuencia_comas)

In [63]:
print(secuencia_comas)

('1', ',', '2', ',', '3', ',', '4', ',', '5', ',', '6', ',', '7', ',', '8', ',', '9', ',', '1', '0')

# Diccionarios

In [1]:
edades = {"Fran":21,"Maga":18,"Nico":19,"Papi":44,"Mami":40}

In [2]:
edades["Fran"]

21

In [3]:
del edades["Maga"]

In [4]:
edades

{'Fran': 21, 'Nico': 19, 'Papi': 44, 'Mami': 40}

In [5]:
edades["Nico"] = "Alberto"

In [6]:
edades

{'Fran': 21, 'Nico': 'Alberto', 'Papi': 44, 'Mami': 40}

In [7]:
edades["Nico"] = 20

In [8]:
edades

{'Fran': 21, 'Nico': 20, 'Papi': 44, 'Mami': 40}

In [11]:
"Papi" in edades

True

In [12]:
"Maga" in edades

False

In [13]:
"Maga" not in edades

True

In [14]:
edades.keys()

dict_keys(['Fran', 'Nico', 'Papi', 'Mami'])

In [15]:
edades.values()

dict_values([21, 20, 44, 40])

In [16]:
edades.clear()

In [17]:
edades

{}